[2017-05-15 12:35] aeharding opened #1 "License?"
Hi there,

Cool vue directive! I might use it soon. :) Love that it is so minimalistic + doesn't change Mac scroll inertia.

However, I notice that there is no license. Is there any possibility of adding the MIT license?

Thanks!

[2017-05-15 12:59] DominikSerafin commented on #1
Added!

[2017-05-15 12:59] #1 closed

[2017-06-01 10:17] DominikSerafin opened #2 "Hide scrollbar using scrollbar selectors instead of hiding it with overflow (Chrome & Safari only)"
`::-webkit-scrollbar`

[2017-06-19 11:31] jeppebemad opened #3 "Dragger misaligned with mouse pointer on retina resolution monitors"
Hi, thanks for contributing this plugin!
Using Chrome, dragging the dragger does not work as expected: The drag-event seems to be offset.

Steps to reproduce:

1. Go to first example on https://github.serafin.io/vuebar/#examples
2. Click and drag the dragger downwards.

Result:

Dragger jumps to the bottom of the scrollable element along with the content. From here only able to scroll up, but this

[2017-06-19 11:39] DominikSerafin commented on #3
Hello, thanks for adding the issue!

Can I ask what OS and what Chrome version are you exactly using?

I can't to reproduce this issue in Windows 10 + Chrome 58:

![](http://i.imgur.com/e0UfLS9.gif)

Thank you

[2017-06-19 12:10] jeppebemad commented on #3
Also windows 10 here. I was using Chrome 58.0.3029.110, but just updated to 59.0.3071.104. Still same issue.

BUT, I realize now what causes the issue. I'm on a Macbook pro with retina screen. It's the retina DPI settings on the retina screen that causes the calculations to go sour. If I move the window to my secondary non-retina screen, all is well.

[2017-06-19 19:44] DominikSerafin commented on #3
Thank you @jeppebemad for providing more info 😁

I'll get to it as soon as possible. If someone want to tackle this on their own then pull request is welcome.

Thanks!

[2017-06-19 20:09] DominikSerafin commented on #3
Hey @jeppebemad

I might've fixed it with https://github.com/DominikSerafin/vuebar/commit/65185345a737bee69f32f39f159c22b7b8c72746. Could you test if it works now on your retina display now?

[2017-06-19 20:13] DominikSerafin commented on #2
Moved to `index.html` Contributing section.

[2017-06-19 20:13] #2 closed

[2017-06-20 09:18] jeppebemad commented on #3
Thanks @DominikSerafin - it worked beautifully! A simple fix like that indicate good code ;)

[2017-06-20 09:18] #3 closed

[2017-06-20 11:03] DominikSerafin commented on #2
Added to Chrome with https://github.com/DominikSerafin/vuebar/commit/f823f51a7fdf861096fa5047e84d0e85c8674228.

Safari support still needs work.

[2017-06-28 18:43] aeharding opened #4 "Overflowing content on devices with hidden (overlaying) scrollbars"
Hi there,

Please see the screenshot below to see the content overflowing the container to the right making it difficult/impossible to read. It is like this on all the examples.

This is latest Chrome on Mac OS X.

Please let me know if you have any questions or if you want me to test anything out.

![image](https://user-images.githubusercontent.com/2166114/27654382-b2367244-5c07-11e7-95ad-0eb7769

[2017-06-30 15:48] aeharding commented on #4
This is a solution that a different scroll library I saw used: https://github.com/felixexter/scrollbarWidth

[2017-07-04 00:17] nicolasvahidzein opened #5 "Doesn't work properly with transitions"
Hello, let me start by saying i loved how beautiful your component is and i cant wait to see it live in my test project.

This isn't an issue but more my lack of knowledge on how to implement it. I added the npm package and i initialized it in my main class as you instructed us on the main page but nothing is working. I am not seeing the scrollbar show up.

Do you by any chance have a sample proje

[2017-07-06 20:41] DominikSerafin commented on #4
Hello @aeharding, thanks for spotting that. I'll fix that as soon as it's possible for me. For now you can use `useScrollbarPseudo` option that should fix that.

Could you tell me on what display/monitor you saw that issue?

[2017-07-06 20:44] aeharding commented on #4
@DominikSerafin This is on my 15" macbook pro (latest one). Hope that helps!

[2017-07-06 20:45] DominikSerafin commented on #5
Hello @nicolasvahidzein, thank you for good words 👍

You need to do 3 things to see the scrollbar:

1. Install it and include in your code (https://github.serafin.io/vuebar/#installation)
2. Use proper markup on the element where you want your scrollbar to be applied (https://github.serafin.io/vuebar/#usage)
3. Style the scrollbar any way you want (https://github.serafin.io/vuebar/#styling)

I hop

[2017-07-09 09:54] nicolasvahidzein commented on #5
Hello Dominik, thanks for your help, i guess i had to had the styling otherwise it was not working.
Thanks.

Now i get this error when i place your scrollbar inside a div that i hide using v-show:

[code]

[2017-07-09 11:52] DominikSerafin commented on #5
Thanks @nicolasvahidzein! It seems there might be a bug with v-show. I'll look into it as soon as possible.

[2017-07-10 15:01] hfalucas opened #7 "[Question] Scroll Listeners and position manipulation"
Hello guys, this plugin looks really good :)

Just two quick questions:

1. Is there any plans to add scroll listeners?
(Ex: Scroll reach bottom, Scroll reach top - good for infinite scrolls)

2. A way to set the scroll to a specific position?
(Ex: 'Top', 'Bottom' or just a number - neat to chat apps or navigate to sections)

Keep up with the great work

Cheers

[2017-07-10 16:12] DominikSerafin commented on #7
Hello @hfalucas

The main feature of this library is that it doesn't change native scroll behavior. It only provides the styleable "dragger" element that gets synced with the native browser scroll. So both of your questions are easily implemented using standard practices.

1. Just use `scroll` event listener (`v-bind:scroll` or `@scroll` in Vue). See [StackOverflow answer](https://stackoverflow.co

[2017-07-10 16:12] #7 closed

[2017-07-11 13:29] DominikSerafin commented on #5
Hey @nicolasvahidzein

I've looked into the issue and I couldn't reproduce it.

I've tried with `v-show` and `v-if` on different elements (wrapper, el1, el2) and no luck.

Nevertheless I've added additional safeguard on unbind hook with which the VueBar hopefully won't throw an error.  https://github.com/DominikSerafin/vuebar/commit/9424c43042f7d834f46c717327abd5c36787adf3

Meanwhile - could you p

[2017-07-11 13:33] DominikSerafin commented on #4
Hello @aeharding!

I've updated VueBar to 0.0.12 which hopefully should fix that issue. And there's also new `overrideFloatingScrollbar` option relevant to this.

Could you confirm that this problem is now fixed for you?

[2017-07-11 13:36] aeharding commented on #4
Quick look shows it works for me!

I'll close this issue and I'll let you know if I have issues after updating vue-bar in my use case.

Thank you!

[2017-07-11 13:36] #4 closed

[2017-07-11 13:54] DominikSerafin opened #9 "useScrollbarPseudo css hides scrollbars globally instead of only on the element it was initialized on"

[2017-07-11 19:35] nicolasvahidzein commented on #5
So first off please forgive me i'm not an experienced coder like you this file is pretty long but a lot of it you can delete, the important portion is on top anyway in the template section.

I am sending you everything because if i delete something maybe that is what is messing up the code. Alos you can Teamviewer to my computer if you can't reproduce it.

here goes:  [https://www.dropbox.com/s/n8

[2017-07-11 21:54] DominikSerafin commented on #5
Hey @nicolasvahidzein thanks for providing the full component. This problem is actually because of `<transition>`.

You can quickly fix that by wrapping your "slideoutpanel" element in another element and use transition and `v-if` on it. Like so:

[code]

Or more drastic measure - you can completely remove transition.

[2017-07-11 21:57] DominikSerafin commented on #5
For my own further reference:

1. VueBar doesn't initialize at all if the `el1` is wrapped in transition.
2. If VueBar is wrapped in element that is transitioning then it flashes el2 content (`overflow: visible`) on unbind.

[2017-07-12 07:59] DominikSerafin commented on #9
[code]

[2017-07-12 09:47] DominikSerafin commented on #5
@nicolasvahidzein this should be now fixed with 0.0.13. Could you confirm this works for you also?

[2017-07-12 09:47] #5 closed

[2017-07-12 09:48] DominikSerafin opened #10 "Remove hacky setTimeout initialization after Vue directive issue gets patched"
https://github.com/vuejs/vue/issues/6076

[2017-07-12 13:06] nicolasvahidzein commented on #5
It does indeed, i place it inside another div and all is PERFECT. You are quite wonderful. Your scrollbar is super beautiful!!!

[2017-07-12 15:31] aeharding opened #11 "Minimum scrollbar height"
Hi there!

Love this project. The scrollbars work quite well!

I have one question in a new scroll area I'm trying to implement scrollbars in.

The scroll area is small, but the scroll content is large. The scroll bar is only 2px tall. (Note: Mac's native scrollbar has this "min scrollbar height" feature and it is ~20px tall in my situation.)

Would it be possible to make the scrollbar have a mini

[2017-07-12 16:56] DominikSerafin commented on #11
Hey @aeharding, I'm really happy that you find Vuebar useful 😃

This actually is kinda important feature/improvement. I'll get to it as soon as possible for me.

Thanks

[2017-07-13 10:10] #10 closed

[2017-07-15 16:34] mtancoigne opened #12 "Issue with Firefox on Kubuntu OS"
Firefox's display for the scrollbar is based on the system preferences. That means that sometimes, the scrollbar is not displayed, even with `overflow-y:scroll`.

When the content is not long enough for the scrollbar to appear, the content width (`100%+17px`) make the content to overflow...

I really like the idea of this hack to use the native scroll :/
![selection_064](https://user-images.github

[2017-07-16 11:28] DominikSerafin commented on #12
Hey @mtancoigne thanks so much for reporting it!

Can I ask you which System, Firefox versions and Vuebar version is this issue present on?

[2017-07-16 18:03] nicolasvahidzein opened #13 "Flexbox config broken"
Hey Dominik, how are you?

Quick question, when i add v-bar to a nicely configured flexbox container, it breaks it and overwrites my config.

Any idea how i can fix this?

[2017-07-16 19:51] mtancoigne commented on #12
Yes, of course (sorry for not mentioning it before)
I'm using **Firefox 54** on a **kubuntu 17.04** and **vuebar 0.0.11**

[2017-07-17 07:48] DominikSerafin commented on #13
Hey @nicolasvahidzein,

It's stated in docs and it's normal behavior.

There's no other way around this - to retain native scroll behavior Vuebar needs to style its elements in a certain way a bit.

You can play with wrapping your container in another element or try other applying other CSS to your container.

[2017-07-17 07:48] #13 closed

[2017-07-17 07:54] DominikSerafin commented on #12
@mtancoigne thanks for the info - I was a little confused where you can set scrollbar preference OS wide, and it's seems that's a kubuntu thing.

As for the issue itself, try upgrading to newest Vuebar. Since version 0.0.12 it detects scrollbar size automatically.

Please let me know if that helps.

[2017-07-17 07:57] #12 closed

[2017-07-17 23:42] mtancoigne commented on #12
Thanks, it seems better ! I'll come back if there is anything wrong.

[2017-07-18 03:48] nicolasvahidzein opened #14 "Vuebar for a textfield"
Hello Dominik,

i tried implement the vuebar for a textfield, but i don't really know where to put my tags. Can you help please?

[2017-07-18 08:24] DominikSerafin commented on #14
Vuebar doesn't yet support textarea element so the behavior will be a little buggy.

Nevertheless, you can do it like this: https://jsfiddle.net/mv48bhf5/

You can also always style your scrollbars using ::-webkit-scrollbar pseudo styling, like this: https://jsfiddle.net/mv48bhf5/1/

[2017-07-18 08:24] #14 closed

[2017-07-18 15:05] nicolasvahidzein commented on #14
Love the first one, will implement and keep you posted. Thanks Dominik!!!

[2017-07-18 16:15] nicolasvahidzein commented on #14
Ok we are almost there, the only thing is that i have your scrollbar and the default one overlapping. In your jsfiddle it works but in my project overflow get over written by scroll as soon as i add v-bar to the div. Before that all is nicely displayed without a scrollbar waiting for your custom scrollbar to appear.

[2017-07-18 16:16] nicolasvahidzein commented on #14
Also for the textfield, overflow auto does not work, i need to use hidden.

[2017-07-21 23:26] DominikSerafin opened #15 "Box-sizing"
1. Find a way to not use content box

2. Test vuebar on default *{box-sizing:content-box}

[2017-07-24 21:22] DominikSerafin opened #16 "Mouse tracking improvement"
drag dragger by tracking pointer position relative to viewport

* store pointer position at the moment of the click?
* after implementation test dragging dragger while simultaneously using mousewheel to scroll

[2017-08-02 16:10] ericcirone opened #17 "preventParentScroll still prevents when scroll bar is not present"
I have preventParentScroll on and it works as intended when i have a scroll bar. But in cases where i don't have a scroll bar, preventParentScroll shouldn't stop it from scrolling the parent.

[2017-08-04 18:18] nicolasvahidzein commented on #14
Dominik, hello, i still need your help to fix this. Pretty please with a cherry on top :)

[2017-08-04 18:32] DominikSerafin commented on #14
Hey @nicolasvahidzein, I'm really sorry I can't help you with that - Vuebar just doesn't support textareas -  so not everything is possible to do in that case.

[2017-08-05 10:03] nicolasvahidzein commented on #14
Well let's look into it, anything i can do to help? I'm no expert but i like finding solutions. Tell me what to do and i'll check it out. Adding support for text area is very important, your module is already so good, why not make it perfect?

[2017-08-12 14:13] nicolasvahidzein commented on #14
Dominik?

[2017-08-14 08:58] doudoudzj opened #21 "body's attribute "user-select: none" can cause the contenteditabled Elements to be selected"
The attribute "user-select: none" added to body when the scroll bar is onclick and ondrag
while, After setting the body user-select: none attribute,
When dragging any content, and passing through the Elements with attribute contentitableitable = "true" will cause this contentitableitabled Elements content to be selected

[2017-08-18 07:44] doublestaiwan opened #23 "The question about refreshScrollbar"
Hi,
This project is so useful.

But I have a problem about the **refreshScrollbar** function.

Here is my example
https://codepen.io/SSTLin/pen/xLYbJg

In the example, Click nav_3 to show or hide content.
The scroll content's height change by CSS and animate by CSS transition.
Becaue of the CSS transition delay 0.5 sec, but vuebar change scroll bar's state immediately.

I try to add setTimeout as

[2017-08-22 08:35] zhaozhe0831 opened #24 "In macOS, vuebar can't work as normal."
[code]
if content has css "position:relative", vuebar can't work as normal, in macOS.
But work well in windows.

![image](https://user-images.githubusercontent.com/12945873/29556151-84f7b772-8757-11e7-9c8f-ae92ca96bd07.png)

Is it a bug ? HTML CSS bug OR vuebar bug?

![wx20170822-163917](https://user-images.githubusercontent.com/12945873/29556764-72423a06-8759-11e7-8e2b-c00a60e115f1.jpg)

[2017-08-22 10:24] doublestaiwan commented on #24
try this
<div v-bar="{useScrollbarPseudo: true}">

[2017-08-22 10:26] zhaozhe0831 commented on #24
resolve.
thank you !

[2017-08-22 10:26] #24 closed

[2017-08-28 15:47] nickensoul commented on #11
Thanks for the your work at first!
About this issue, can I ask you for some future requests:
1) it will be very helpful to add some options to the directive' settings like `barMinHeight` and `barMaxHeight`, so we can set min, max and fixed (if both are exist) height for the bar. Just because we are all have to work in designers' borders.
2) instead of computing properties to the `vb-dragger`, I be

[2017-08-28 16:43] DominikSerafin commented on #11
Hey @nickensoul, thanks for the feedback =)

When I get to implementing min height of scrollbar then I'll include `barMinHeight` customization option for sure.

As for second point - I assume you want to create a full height "pane" along which the dragger is moving? If yes, then I also have plans to add a new parent element to `vb-dragger` which will act like that "pane". Without removing `vb-drag

[2017-09-01 14:41] DevoidCoding opened #25 "Dragger tracker background"
First of all, thank you for that amazing directive, it's awesome and marry well with my design !

I'm here to ask if it's possible to improve the actual behavior, and put a background behind de dragger, something like this : http://i.imgur.com/1FwzGi4.png

[2017-09-01 23:45] DominikSerafin opened #26 "Remove "useScrollbarPseudo" feature (adds too much unnecessary complexity) and just improve edge cases without it"

[2017-09-01 23:57] DominikSerafin commented on #9
`useScrollbarPseudo` will be removed completely in upcoming versions. Closing this issue.

[2017-09-01 23:57] #9 closed

[2017-09-01 23:59] DominikSerafin commented on #11
Hey @aeharding @nickensoul

To introduce minimum height and maxium height I'll need to rewrite some mouse tracking code and it's no that trivial actually to make it perform well.

That's why these features will be introduced in the 2.0 version of Vuebar some time in future.
https://github.com/DominikSerafin/vuebar/projects/1

[2017-09-02 00:10] DominikSerafin commented on #23
The only issue in your example that I can see is that Vuebar doesn't update when you close that "nav" element. To update it manually you need use the `refreshScrollbar` method or just do `$forceUpdate()` on the Vue component containing Vuebar after transition end.

[2017-09-02 00:10] #23 closed

[2017-09-02 00:12] DominikSerafin commented on #17
Fixed in 0.0.17

[2017-09-02 00:12] #17 closed

[2017-09-02 00:14] DominikSerafin commented on #16
Moved into roadmap note https://github.com/DominikSerafin/vuebar/projects/1

[2017-09-02 00:14] #16 closed

[2017-09-02 00:15] DominikSerafin commented on #25
Hey @DevoidCoding it will be introduced in the 2.0 version of Vuebar (https://github.com/DominikSerafin/vuebar/projects/1).

For now, as a workaround you can use maybe pseudo elements (::before/::after) to add that background on Vuebar `el1`.

[2017-09-02 00:17] DominikSerafin commented on #15
Moved into roadmap https://github.com/DominikSerafin/vuebar/projects/1

[2017-09-02 00:17] #15 closed

[2017-09-02 00:18] DominikSerafin commented on #26
Moved into roadmap https://github.com/DominikSerafin/vuebar/projects/1

[2017-09-02 00:18] #26 closed

[2017-09-03 04:13] tserkov opened #27 "[Feature] Horizontal Scrollbars"
I haven't seen this asked yet, so I guess I'll be that guy -- do you have any plans to support horizontal scrolling as well? At this time, I see the directive just applies a `overflow-x: hidden` attribute.

Thanks!

[2017-09-03 09:28] DominikSerafin commented on #27
Oh yeah definitely. I have plans to introduce this in 2.0. See: https://github.com/DominikSerafin/vuebar/projects/1

Could you share with me your use case where you would use horizontal scrolling?

[2017-09-04 00:22] tserkov commented on #27
Oh that's awesome -- I rarely see the projects tab used!

In my case, I've created a canvas (in the Photoshop sense) for users to manipulate elements within, but the canvas is always 1920x1080, regardless of viewport size.  So having vertical and horizontal scrolling is a must.

[2017-09-05 19:53] ericcirone opened #28 "Releases and pushing to NPM"
It was great to see some pull requests incorporated into vuebar but that doesn't benefit most unless they make it to a new release in NPM. Could you start making releases and update to NPM? Thanks!

[2017-09-05 21:01] DominikSerafin commented on #28
Sorry about that. I must've forgotten about pushing the latest update to NPM. It should be live now.

[2017-09-05 21:01] #28 closed

[2017-09-13 04:18] NLNicoo commented on #27
This doesn't help you, but I made a way to have either vertical OR horizontal scrolling. Obviously the proper solution is to have both just whenever the original element would have it. But I didn't have time to make that.

Still it might help someone: NLNicoo@4694486 (make sure to add _vb-dragger-x_ CSS too)

[2017-09-13 07:50] DominikSerafin commented on #27
@NLNicoo thank you for sharing your solution, I'm sure it will be useful for someone 😃.

[2017-09-26 09:45] lbineau opened #30 "Using max-height for content"
Hi,
Thank you to contribute to VueJS ecosystem.

I wonder why max-height CSS rule instead of height rule doesn't work with vuebar. It would be convenient because a small amount of content doesn't need scrollbar and don't need to take so much space.
![image](https://user-images.githubusercontent.com/1534688/30853686-cbcf3d1e-a2af-11e7-9fe8-f0b2ee5e4f64.png)

[2017-09-27 09:07] Aterr opened #31 "On MacOS container with vuebar is larger than it should be."
Hi there!
I am facing the issue, when using this plugin on mac.

On windows in all browsers everything is looking just fine, but on mac My container is about 15px wider than it should be. Any thoughts ? Thanks in advice :)

[2017-09-27 10:05] DominikSerafin commented on #30
Hey @lbineau, I dont understand what the issue is here. Could you describe it more in detail? Thanks!

[2017-09-27 10:09] DominikSerafin opened #32 "Version 2.0 is coming."
Hey guys,

Just wanted to let you know that version 2.0 is coming.

It will introduce some rewrites and new features.

- Horizontal scrolling
- Rewrite of mouse tracking logic
- Minimum and maximum `dragger` height
- `pane`/`track` option for those who want to have a background behind `dragger`.
- Utility methods like e.g. `scrollTo`
- And more...

Roadmap:
https://github.com/DominikSerafin/vuebar

[2017-09-27 10:17] DominikSerafin commented on #31
Hey @Aterr, what do you mean by "container"? `el1`, `el2` or `dragger`?

[2017-09-27 10:46] lbineau commented on #30
Hi @DominikSerafin I would want that it works the same this HTML example. (with max-height instead of height)
This way you don't need to force height.
https://codepen.io/lbineau/pen/xXqzmQ
I hope it is clear enough now :)

[2017-09-28 06:50] Aterr commented on #31
Hi @DominikSerafin, i mean the .vb-content div :) It's probably el2

[2017-09-28 07:22] Aterr commented on #31
Fixed it :)
I should avoid padding property on .vb-content

[2017-09-28 07:23] #31 closed

[2017-09-30 00:33] jankulma opened #33 "Failed to resolve directive: bar"
I am having really hard time trying to set up vuebar. All the CSS settings I have as recommended. I think there must be sth obvious I am missing, as I am novice with vue.

My code:
[code]
The error in the console is:
[code]

And the scrollbar stays unchanged. I use vue-cli with webpack, chrome browser, ubuntu os. Any suggestions?

[2017-09-30 04:50] borodinalive commented on #33
How do you import and apply this plugin?

[2017-09-30 08:21] jankulma commented on #33
I install it via npm `npm install vuebar --save`

[2017-09-30 08:37] DominikSerafin commented on #33
@jankulma have you imported it and used with Vue?

[code]

or

[code]

[2017-09-30 08:49] DominikSerafin commented on #30
@lbineau thanks for the description. Have you actually tried to do that in your project and it didn't work? The example in the doc has `height` instead of `max-height` to show that there's an empty space.

[2017-09-30 15:14] borodinalive commented on #33
This is what I am asking about =)

[2017-10-01 08:46] DominikSerafin commented on #30
@lbineau it isn't something that Vuebar supports 100%. Maybe try wrapping your container with Vuebar into another container with `max-height`?

[2017-10-02 04:52] jankulma commented on #33
I was missing that. Thanks a lot.

[2017-10-02 07:39] #33 closed

[2017-10-02 07:39] #30 closed

[2017-10-09 09:24] guykatz opened #34 "vuabar not working with certain templates with attributes on elements [weird]..."
so this took me a while to reproduce: [](https://jsfiddle.net/gkatz/cadoqgaf/)
in the jsfiddle above, go to the <div v-if="loading" style=""> and simply remove the style attribute and everything will work, this also happens with other regular attributes.
I am no JS expert and so I sis not debug the problem.

[2017-10-09 09:46] DominikSerafin commented on #34
Hey @guykatz, thanks for filling in the issue.

Vuebar doesn't init in this case because `style` attribute is used on the element w `v-bar` directive.

And what happens here is probably Vue render overwriting Vuebar `style` attributes with that empty `style=""`.

What I will do from my side is to add information about this in the documentation and add warning in the Vuebar itself.

But this behavi

[2017-10-09 09:49] guykatz commented on #34
thanks for the quick answer but I think you have missed something
there is no v-bar directive on the element with the style. it is a sibling element. the vuebar directive is on another element. I do not understand why a sibling element would be affected at all. can you ellaborate?
thanks

[2017-10-09 10:07] DominikSerafin commented on #34
Hi @guykatz

Oh yeah, you're right I have missed it. But actually it's still kind-of applies what I've said.

The problem here is that you've missed `key` attribute on these elements.

If you don't provide `key` for the `v-if/v-else-if/v-else` and for looped elements with `v-for` then Vue might sometimes not update these elements correctly because Vue doesn't rerender all elements on update but re

[2017-10-09 10:12] guykatz commented on #34
oh wow, i had no idea about this applying to other elements except of loop.
thanks for pointing this out.

[2017-10-10 07:46] guykatz commented on #32
thanks so much for doing this for the benefit of the community.
is there a time table for the roadmap? did I miss it?
thanks.

[2017-10-10 08:20] DominikSerafin commented on #32
By this issue I just wanted to communicate with Vuebar users that I do am working on the new version and this library is maintained. But...

There's no fixed time table. Besides Vuebar I'm working on a lot of other stuff for a living and Vuebar is only a side-project that takes time from all that other stuff when I'm working on it. So it isn't my top priority and I can't spend too much time on it,

[2017-10-19 14:06] 79229788 opened #35 "can you add an enable option?"
Sorry, I am from China, my English is very terrible,  can only  rely on Google translation. And  can you add an enable option? such as,
use v-bar = "false", the default is true. And then you can only write a return clause in vue`s bind method, it is simple to be able to do.
Because I hope that when browsing the phone pages do not enable the plug-in, because， use of native scroll bar may be better。

[2017-10-24 08:15] DominikSerafin commented on #35
For the phones scrollbar there is a `overrideFloatingScrollbar` customization options. I hope it'll help in your case.

As for the proper "enable" option and horizontal scrollbar - they'll be added in Vuebar 2.0: https://github.com/DominikSerafin/vuebar/issues/32

[2017-10-24 08:15] #35 closed

[2017-10-29 22:32] romanrei opened #37 "Doesn't work on modal window"
Hi, nice scrollbar works great on simple divs, but i have a problem. it doesn't work on modal window.
Well it works, but not as expected. I still see default scrollbar together with new one.
If i enable _useScrollbarPseudo: true_ it will work, but only in chrome..

[2017-10-30 08:52] DominikSerafin commented on #37
Could you provide jsfiddle with minimal reproduction? Without it I'm not able to help you.

Here's good starting point: https://jsfiddle.net/50wL7mdz/72834/

[2017-11-04 02:09] lethak opened #38 "dragger size when dragging is not customizable"
Hi,

How should I proceed if I never want dragger to change in width ?

I think it is not possible right now because of this, but it seems is more complicated than just commenting it.

[code]

[2017-11-04 03:24] lethak commented on #25
@DevoidCoding I've done it with

[code]

[2017-11-04 03:38] lethak commented on #38
Alright, I managed to do it somehow with:

[code]

[2017-11-04 03:38] #38 closed

[2017-11-04 13:19] #37 closed

[2017-11-09 09:34] guykatz opened #39 "how to know when vuebar become 'active'?"
hi;
I want to display a button only after scroll starts and make it invisible again when scrollTo is set to 0 on the element (el2.scrollTop=0)
how do I track the scrolling in vuebar? I need to know when someone actually started scrolling.
currently I binded a scroll event to vuebar's el2 and I check el2's scrollTop.
is this a valid option? the only options?
thanks

[2017-11-09 14:00] philSixZero opened #40 "Nested Scrollbars are buggy"
If two nested scrollbars are displayed on one page, vuebar gets confused.

**How does the bug affect the usability of vuebar?**
If the outer scrollbar is at the very top position and the inner scrollbar is at the bottom, the inner scrollbar cannot scroll up anymore. And vice versa.

Are there any suggestions for a  workaround before bugfix in upcoming versions?

[2017-11-10 06:04] markkarimov commented on #27
@DominikSerafin when 2.0 is gonna be released? I also need horizontal scrolling. :)

[2017-11-11 19:59] DominikSerafin commented on #27
Hi @markkarimov, https://github.com/DominikSerafin/vuebar/issues/32#issuecomment-335397606

[2017-11-11 20:00] DominikSerafin commented on #40
Hi @philSixZero, I can't reproduce it. Could you provide jsfiddle with minimal reproduction? Without it I'm not able to help you.

Here's good starting point: http://jsfiddle.net/u94ns8jc/1/

[2017-11-11 20:04] DominikSerafin commented on #39
Hi @guykatz. That's exactly why this library doesn't hijack scrolling, but works on top of native scrolling behavior - to allow listening for native scroll events. So your solution is the most valid as it can be.

[2017-11-11 20:04] #39 closed

[2017-11-13 08:25] philSixZero commented on #40
Strangely, I can't reproduce it either in the jsfiddle.. Did you try nested scrollbars using webpack and .vue-Files, yet?

[2017-11-13 10:10] DominikSerafin commented on #40
@philSixZero seems to work with single-file components also, see: https://www.webpackbin.com/bins/-Kyoqtm8CbjpkYegi7mF

[2017-11-13 10:13] DominikSerafin commented on #40
I'm going to close this issue but if you're still having problems with it, then please leave a comment and I'll reopen it.

[2017-11-21 07:57] filipenco92 opened #41 "table tbody add scroll"
Hello, is possible to add scroll to tbody in table?

[2017-11-21 10:54] DominikSerafin commented on #41
I don't think so. You'd need to wrap tbody or rows in other element but you can't do that because it gets removed on render.

But if you find a way to do that let me know!

[2017-11-21 10:54] #41 closed

[2017-11-22 09:54] kirill001 opened #42 "Vuebar adds padding-right: 20px instead of width in Safari."
WHen I open my website on Safari I see extra space on the right side. The reason is` padding-right:20px `and lack of `width: (100% - 15px);`
In Chrome it works perfectly and there is no rule `padding-right:20px` but there is `width:calc(100% - 15px)`.
If I change manually these rules in Safari's console (remove padding and add width:calc(100%-15px)) it also works.
How to fix this behavior? Please

[2017-11-28 12:32] DominikSerafin commented on #42
Hi @kirill001, I can't reproduce it. Could you provide jsfiddle with minimal reproduction? Without it I'm not able to help you.

Here's good starting point: http://jsfiddle.net/u94ns8jc/1/

[2017-11-28 13:13] kirill001 commented on #42
Your example works.
Can you please visit [my website ](https://bandwidget.com/id93/?title=Metallica&theme=light&channels=facebook,twitter,youtube,vevo,itunes,amazon,soundcloud,bit,ticketfly,event,media)
I can't realize why I have the space.

[2017-12-04 12:30] Pzz0912 opened #43 "About rolling problems"
In the box I want to push the scroll bar back to the top with a button ？

[2017-12-04 15:26] DominikSerafin commented on #43
Just do it as you would do it without plugin. Vuebar doesn't interfere with native elements scrolling behavior.

https://stackoverflow.com/questions/4147112/how-to-jump-to-top-of-browser-page

[2017-12-04 15:26] #43 closed

[2017-12-06 21:03] diomed opened #44 "jsfiddle demo request"
Hello

I'd really like to integrate vuebar into my page, but I'm having
real trouble figuring out how to do it.

So, I'd like to ask for a small demo, if you don't mind -demo that would basically
do what you did here: https://github.serafin.io/vuebar/
on full page, and replace whole official/usual right scrollbar with vuebar.
Of that I need demo if possible.

Thank you.

p.s. how come there are no

[2017-12-08 10:46] kirill001 commented on #42
I guess I have found the reason.
If I fill <--el2--> with plain text it works, but If I put there div elements I see extra space.
There is an example  `https://codepen.io/anon/pen/LOKMog`
And the screenshot from Safari
![2017-12-08 12-40-48 an anonymous pen on codepen](https://user-images.githubusercontent.com/8287881/33762580-b5dd77e2-dc15-11e7-9fff-04edbe1d8607.png)

[2017-12-21 02:42] velenoise commented on #30
Just for the record, I managed to use the lib with max-height with a few tweaks:

1) I replaced every occurrence of `state.el2.clientHeight` with `state.el1.clientHeight`. When height is explicitly set they are both the same, but with max-height only the parent will return the correct info.

2) Instead of setting the `state.el2.style.height = '100%'`, I followed [this idea](https://stackoverflow.c

[2017-12-21 07:49] DominikSerafin commented on #44
Hi @diomed

You can check source code of https://github.serafin.io/vuebar/

It's a little messy there to be honest, but to add Vuebar to whole page you need to set body overflow to hidden and wrap all content in another element.

Snippets taken from https://github.serafin.io/vuebar/:

[code]

[code]

[2018-01-03 11:22] filipenco92 commented on #42
Hello, how resolve this problem: http://joxi.ru/ZrJk3vxT1y5xjm , I set margin-right: -20px but this is not very good solution!

[2018-01-10 13:59] #42 closed

[2018-01-10 14:04] DominikSerafin commented on #42
Hey @kirill001 @filipenco92, I've just merged a fix for this. Could you confirm that this is fixed now for you in Vuebar v0.0.18?

[2018-01-10 14:08] #44 closed

[2018-01-10 15:03] scherii commented on #42
Hey @DominikSerafin
This fixed it for me, thank you very much! 🙂

[2018-01-10 15:14] filipenco92 commented on #42
@DominikSerafin Hello, I install now vuebar 0.0.18 and tried, but this not fixed it: http://joxi.ru/5mdBweKUvg1ggA! maybe i do not understand something, but it should be : http://joxi.ru/1A5GjVEtKYk5Mm, and for this i write to vb-content width: calc(100% + 20px) or for dropdown item margin-right: -20px because vb-content have padding-right: 20px and this padding push overflow but clear space remai

[2018-01-10 15:27] DominikSerafin commented on #42
@filipenco92 I think the problem is with `margin-right: -20px`, try deleting it.

If it wont work, can you provide minimal reproduction of your problem and tell me in which os/browser it doesn't work?

Starting points with Vue+Vuebar:
http://jsfiddle.net/u94ns8jc/1/
https://www.webpackbin.com/bins/-Kyoqtm8CbjpkYegi7mF

[2018-01-11 07:45] filipenco92 commented on #42
@DominikSerafin this problem exist in inactive tab, or dropdown, reproduction problem (browser Chrome, os Ubuntu): http://jsfiddle.net/filipenco92/b4u9dxnk/4/

[2018-01-11 10:24] DominikSerafin opened #46 "Vuebar doesn't calculate native scrollbar width correctly in hidden elements on init"
Source: @filipenco92, https://github.com/DominikSerafin/vuebar/issues/42#issuecomment-356852531

[2018-01-11 10:25] DominikSerafin commented on #42
@filipenco92 , thank you for the reproduction, now I know now where the problem lies.

It's a little different problem from this one, so I've created new issue for this: https://github.com/DominikSerafin/vuebar/issues/46

[2018-01-11 10:38] DominikSerafin commented on #46
Actually... this was not a problem with Vuebar but rather problematic project implementation - tabs via jQuery instead Vue state.

[2018-01-11 10:38] #46 closed

[2018-01-11 10:43] DominikSerafin commented on #42
@filipenco92 , investigated it further and it seems it's not a problem with Vuebar, but rather your implementation of these tabs.

You've used jQuery to implement them instead using Vue state. This way you've forbidden Vuebar to be able to listen to updates to state and it couldn't refresh/initialize properly.

As a workaround for this, you can use public methods to destroy/reinitialize Vuebar on

[2018-01-11 10:46] DominikSerafin commented on #46
Workaround: https://github.com/DominikSerafin/vuebar/issues/42#issuecomment-356896382

[2018-01-11 10:47] filipenco92 commented on #42
@DominikSerafin ok, thanks, i tried with bootstrap-vue (https://bootstrap-vue.js.org) and in tabs and dropdown is the same problem, i will use refreshScrollbars!

[2018-01-12 14:02] edenteam opened #47 "withScrollingClasses and performance"
We have perfomance problems with vuebar. When withScrollingClasses is enabled, phantom classes cause delays during scrolling.
http://g.recordit.co/drPqYpR7Y7.gif
But if we disable this option, scrolling stay more fast and lightful.

https://github.com/DominikSerafin/vuebar/blob/2cb8d6f83a1e689044684014fa9ec4aff707206f/vuebar.js#L364

Can i disable this option without editing npm package?

[2018-01-12 15:51] DominikSerafin commented on #47
Hey @edenteam ,

Thanks for opening up issue. Unfortunately it's not possible to disable this behavior in current Vuebar.

But, performance of Vuebar is really important to me. So I'll take some more time soon and I'll investigate it. And maybe I'll add this option in Vuebar 2.0 (https://github.com/DominikSerafin/vuebar/projects/1) - or I'll fix the performance root cause.

Meanwhile, as a workaro

[2018-01-12 15:56] DominikSerafin commented on #47
@edenteam also, if you could provide me minimal reproduction related to this issue, this would help me hugely.

Here are good starting points:
http://jsfiddle.net/u94ns8jc/1/
https://www.webpackbin.com/bins/-Kyoqtm8CbjpkYegi7mF

[2018-01-16 13:09] VRuzhentsov commented on #15
Hi
Have some issues with `content-box` on safari, it has different rendering with chrome, and in chrome does not appends `box-sizing`
Of course i can override by `!important`, but why we use `content-box` ?

[2018-01-16 13:39] DominikSerafin commented on #15
@VRuzhentsov, which version of Vuebar you're using? There was a related (loosely) problem to `box-sizing` in Safari with version 0.0.17. But it was fixed in version 0.0.18.

Could you tell me what's the exact problem for you?

You could also create minimal reproduction, it would help me greatly in helping you.

Here are good starting points:
http://jsfiddle.net/u94ns8jc/1/
https://www.webpackbin.c

[2018-01-16 13:51] kirill001 commented on #42
@DominikSerafin Perfect! Now it works! Thank you!

[2018-01-16 13:55] VRuzhentsov commented on #15
@DominikSerafin
take a look please
http://jsfiddle.net/Vitalii_Ruzhentsov/n3hyLqp0/2/
In Chrome and Mac Safari - `box-sizing` is different

[2018-01-16 14:40] DominikSerafin commented on #15
@VRuzhentsov thanks, but it's actually intended behavior.

Safari (by default) has overlaying native scrollbars. In that case Vuebar hides them using `padding` + by forcing `box-sizing`.

Chrome has standard native scrollbars that are in the document flow (that are not overlayed over container). In this case, Vuebar detects their width and hides them using `overflow: hidden`, without applying any

[2018-01-16 14:57] VRuzhentsov commented on #15
@DominikSerafin
Everywhere it would be enought `box-sizing: border-box` for me. And this content wrapper is workaround about sidebar ahd header, because they are fixed, and content needed to be under header (z-index) with scrolling, but save left padding from sidebar, for quick adaptive styles.

But vuebar overrides `box-sizing` to `content-box` (safari only)

[2018-01-21 11:08] DominikSerafin opened #48 "Different level of Zoom/Pixel Ratio make native scrollbar visible"
Originally spotted by @frlinw on https://chat.vuejs.org

[2018-01-21 12:37] frlinw commented on #48
In addition, when you get the scrollbarWidth, you want the original scrollbarWidth (when devicePixelRatio = 1) so you have to add `baseWidth = Math.round(barWidth * window.devicePixelRatio)` after https://github.com/DominikSerafin/vuebar/blob/master/vuebar.js#L854
then, on element resize, as I said, you can do something like `contentWidth = contentWrapperWidth + (baseWidth/window.devicePixelRatio)

[2018-01-21 12:49] DominikSerafin opened #49 "Add additional properties to MutationObserver"
https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver#MutationObserverInit

[2018-01-21 12:54] DominikSerafin commented on #48
@frlinw

Vuebar is updated after any component update. So any state/DOM update dispatched in Vue component where the Vuebar is used will be detected and updates applied immediately and in $nextTick. So this covers v-for changes.
(See: https://github.com/DominikSerafin/vuebar/blob/master/vuebar.js#L671)

And on top of that, I'm using MutationObserver to detect some of the changes outside of Vue, as

[2018-01-21 13:07] frlinw commented on #48
Thanks for the clarification (I didn't dig too deep in the code) :)

[2018-02-21 15:01] nickycdk opened #51 "Seems to disable window.scroll?"
Im trying to use this with this: https://github.com/BKWLD/vue-in-viewport-mixin - which listens for the window.scroll event - But seems like Vuebar is removing this, which means I cant detect when a user has scrolled to an element?

You can with ease test this by trying:
window.onscroll = function (e) {
          console.log("Scrolling");
}

and you will see when using vuebar, this doesnt get fire

[2018-02-21 15:25] DominikSerafin commented on #51
Hi @nickycdk , could you provide minimal reproduction of this issue?

Good starting points:
http://jsfiddle.net/u94ns8jc/1/
https://www.webpackbin.com/bins/-Kyoqtm8CbjpkYegi7mF

[2018-02-21 19:12] nickycdk commented on #51
Hi @DominikSerafin - Sure, you can see a fiddle here.. (http://jsfiddle.net/u94ns8jc/75/). As you can see im attaching a window.onscroll method, this however doesnt get fired even when im scrolling... Im guessing its because we are scrolling inside a div element, and not body, html, however, this makes it somewhat impossible to detect how far a user has scrolled down a page, or if an element is in

[2018-02-21 19:33] DominikSerafin commented on #51
@nickycdk in your example, you are attaching scroll even listener to window while the Vuebar scrollable element is entirely different element from window.

See updated working jsfiddle: http://jsfiddle.net/u94ns8jc/80/

And yeah, current Vuebar version can't be used to change the "main" body scrollbars if you're looking for this functionality. You can however wrap your entire site in wrapper eleme

[2018-02-21 20:18] #51 closed

[2018-03-16 10:43] HawkeyePierce89 commented on #30
I think it's need add to README

[2018-03-23 09:35] exreplay commented on #40
@DominikSerafin I took your jsfiddle and modified it to reproduce the bug. It only appears when you use the `preventParentScroll`. Without it, everything works as expected.

http://jsfiddle.net/u94ns8jc/182/

[2018-03-23 11:31] DominikSerafin commented on #40
@exreplay thanks for finding it out! I'm reopening this issue and will try to fix that in spare time.

[2018-03-23 15:13] exreplay commented on #40
@DominikSerafin you are welcome! I'll try to have a look to when i have time and let you know if i can figure something out.

[2018-03-29 11:48] netleader commented on #30
This solved my problem too. tried two days without success before.
Thanks, this should be definitely in the docs!

[2018-04-04 19:28] DominikSerafin commented on #11
@Bowens20832 that approach had some problems the last I've tested it. I think the scrollbar wasn't completely "touching" bottom of the scrollable container - like it would normally do.

But... I'm working on 2.0 version of Vuebar. And some of you that are more curageous can already try to use the development version of it: https://github.com/DominikSerafin/vuebar/tree/development

It has proper su

[2018-04-11 09:16] romangutkin opened #52 "is it possible to limit the container with max-height instead of height?"

[2018-04-19 08:41] vee2046 opened #54 "How to call a callback function after scroll event"
after it trigger scroll event I hope set a callback function

[2018-04-19 09:11] DominikSerafin commented on #54
Hey @vee2046 , Vuebar doesn't interfere with native scroll events. It's actually a major feature of Vuebar. So you can just hook into `@scroll` event (on second element) as you would normally do with plain Vue.

[2018-04-19 09:11] #54 closed

[2018-04-19 15:37] DominikSerafin commented on #52
Hey @romangutkin have you tried wrapping the Vuebar elements with element that has max-height?

[2018-04-26 13:41] jhlee8804 commented on #30
@velenoise You saved my life...

[2018-05-08 20:59] Bowens20832 commented on #32
What do you think the timeline is on horizontal scrolling?
Has anyone made any progress or is anyone working on this now?

[2018-05-09 09:59] DominikSerafin commented on #32
Hey @Bowens20832 horizontal scroll is actually implemented already in development branch. I haven't yet "officialy" released it because I still need to fix some quirks around mobile browsers. You can check it out, there's lots of demos in ithe index page. (But be prepared that development branch is unstable - it might change significantly in future updates.)

[2018-05-12 07:56] trandaison opened #55 "2 scrollers appear"
When using the trackpad, there're 2 scrollers. This doesn't happen when I plug a mouse.

!![](https://media.giphy.com/media/KWQINVQd3vKr0GuIuZ/giphy.gif)

Here're my HTML and CSS:
[code]
[code]

[2018-05-21 16:12] davodaslanifakor commented on #51
@DominikSerafin  @nickycdk
this better
 [try this](http://jsfiddle.net/mr3x4z9q/)

[2018-05-26 03:15] yansenlei opened #56 "Using flex to set height: 100% in Safari browsers won't work"
Is there any good solution to safari's flexbox height bug?

[2018-05-29 07:06] acupofspirt commented on #55
[code]

[2018-06-11 12:36] goors commented on #55
same here

[2018-06-20 02:24] black-black-cat opened #57 "Method name `destroy` in development branch"
Hey buddy

I am using the development branch in my project, thanks for your work, and I found a method name typo.

In development branch, line 1112 in file `vuebar.js`,  `destroyScrollbar` should be `destroy`.

[2018-08-05 10:47] shahidkarimi opened #58 "How to scroll to bottom?"
How to scroll to bottom?

[2018-08-17 14:01] m6t9 commented on #58
How to scroll to bottom?

[2018-08-21 08:55] rowild opened #59 "Content visible after axios call, but no scrollbar"
I have a list of news items that, once loaded, make up a list that overflows the page height and therefore need a scroller. The news a loaded via axios. The simple setup up won't show a scrollbar, So I tried to use a refresh in axios' finally:
[code]
But to no avail. The sroller classes remain "v-invisible", "'height: 0px" etc.
What do I have to do to make that work?

[2018-08-21 12:06] erezger commented on #52
hey @DominikSerafin  i did trying and it's not helping
not working without height on the vubar element

[2018-09-11 19:23] #57 closed, assigned to nobody

[2018-09-12 03:14] yansenlei commented on #56
Hi, @DominikSerafin
Using `flex` to set `height: 100%` in Safari browsers won't work. This is Safari's [bug](https://bugs.webkit.org/show_bug.cgi?id=137730), and I queried some of the solutions:
https://stackoverflow.com/questions/33636796/chrome-safari-not-filling-100-height-of-flex-parent
https://www.labsrc.com/safari-full-height-flexbox-children/

[2018-09-12 16:52] ndragun92 opened #61 "Auto scroll on bottom of page when entering/refreshing page?"
Is there any way to autoscroll to end of element with vuebar same as in normal js way.

            scrollToBottom() {
                if (this.scrolled) {
                    this.$nextTick(() => {
                        this.$refs.messages.scrollTop = this.$refs.messages.scrollHeight;
                    })
                }
            },

[2018-09-12 16:55] ndragun92 commented on #61
Also Auto scroll on button to top ?

[2018-09-18 14:43] marchuksergii commented on #52
@DominikSerafin thanks. its working.
@erezger here is mine structure, mb it helps
`
<div class="vb" v-bar>
            <div>
              <div style="max-height: 190px">
                // scrollable content here
              </div>
            </div>
        </div>
`

[2018-09-19 03:44] UltramarineLights opened #62 "Not working in Nuxt"
Hi! I'm trying to get vuebar to work in Nuxt but it does not work, I can see all the code is added through the inspector but no result, could it be due to the layout functionality of Nuxt? Thank you

[2018-09-24 04:16] mavrick commented on #62
What is the error and what version of nuxt are you using @UltramarineLights ?

[2018-09-25 01:10] UltramarineLights commented on #62
It does not give an error, it simply doesn't display even if all the code added by the directive is there in the browser inspector. I'm using the latest Nuxt 1 version.

[2018-09-27 11:14] curt953 commented on #33
I am using the cdn way and I receive this same mistake.

[2018-10-05 02:54] neuropass commented on #32
HI @DominikSerafin 2 questions,

1) does this plugin automatically update the scrollbar position on layout change? or you need to trigger an update?

2) is there an option to keep the bar scrolled for example to the bottom? to make yo uunderstand the us case, would be for example a hat app that the scroll is to the bottom and should update and stay at the bottom on each messages sent via ajax.

Th

[2018-10-05 08:33] DominikSerafin commented on #32
Hi @neuropass

1. Yup - it does that when either MutationObserver fires or Vue component updates. I'm also planning to add ResizeObserver to the mix in future. If for some reason Vuebar doesn't update - it most probably means that component visual state was changed outside Vue - in this case juse use $forceUpdate method in the component that contains Vuebar.

2. Vuebar doesn't interfere with nativ

[2018-10-06 14:15] 7iomka opened #63 "Box-sizing: content-box breaks layout"
In my site i have css rule in reset css:
`*, *:before, *:after { box-sizing: inherit }`
and
`html {box-sizing: border-box;}`

**I use your plugin to instead of native page scrollbar;**
Plugin make this:
on .vb-content put css
[code]

http://s1.micp.ru/FpsfI.jpg

and all layout, like a .container-fluid from bootstrap breaks it layout :(

[2018-10-06 15:16] DominikSerafin commented on #63
@7iomka you can just redeclare `box-sizing: border-box` again on your `site-content` element.

[2018-10-06 15:16] #63 closed

[2018-10-28 22:29] zeknoss commented on #62
Hello @UltramarineLights ,
In order to make vue-bar work with Nuxt, you need to create a plugin and add it to the configuration, then you're good to go.

Here's how you do it:
1. Create a vue-bar.js with following content:
[code]

2. Add the plugin to the nuxt.config.js
[code]
3. Now you can use the plugin normally

Let us know if you have any problems.

Cheers!

[2018-11-23 14:30] GsHeri commented on #52
ohhhh GOD PLEASE write somewhere prominent in the docs that you have to specify height and not max-height.
i've spent an hour of my life banging my head and wondering why the hell it doesn't work

[2018-11-23 15:07] DominikSerafin commented on #52
Hey @GsHeri sorry you had this experience - I'll try to include that information when I'll have time to update docs. I'll also gladly accept any PRs related to that!

[2018-11-30 17:06] jadell opened #64 "[Feature] Global defaults"
We have multiple templates using vuebar, and repeated config in each, even within the same template.

It would be useful to set up global default config when including the mixin in Vue. Of course, options included with the directive in the template should override global defaults.

Something like:

[code]

Don't have time to try my hand at this and make a PR right now, but just leaving a note that

[2018-12-18 09:00] alexdpts opened #65 "How can i autoscroll div with v-bar to some selected element?"
Markup, for example:
[code]

[2018-12-18 14:01] maulpets commented on #30
For anyone using this solution may notice it doesnt work in IE11.   I added a media query to target IE11/10 then specified a height inside.
[code]

[2018-12-18 14:22] DominikSerafin commented on #65
Hey @alexdpts, Vuebar doesn't interfere with native scroll events. So you can just use native JS DOM scrolling events & methods.

In case of Vuebar - the inner wrapper element is a 'scrollable' element (child of element with `v-bar` directive), so you can `ref` it and then e.g. use `scrollTop`: https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollTop

[2018-12-18 14:22] #65 closed

[2018-12-18 14:32] DominikSerafin commented on #62
Hi @zeknoss, thanks for providing help on this issue ❤

[2018-12-18 14:32] #62 closed

[2018-12-18 14:33] DominikSerafin commented on #64
Hi @jadell, this looks interesting, thanks! I'll look into incorporating it into upcoming Vuebar 2.0.

[2018-12-18 14:39] DominikSerafin commented on #59
Hi @rowild, sorry for not getting back earlier to you. If for some chance you still need help with this - could you provide minimal repro that showcases this problematic behavior?

[2018-12-18 14:40] DominikSerafin commented on #56
Hi @yansenlei if you still have a problem with this - could you provide me minimal reproduction (on JSFiddle, CodeSandbox, or similar) that showcases this problematic behavior?

[2018-12-18 15:16] rowild commented on #59
Hi, Dominik! I should have closed this earlier. I think - if I remember correctly - I needed to call some update() function after loading. It eventually worked fine.
I am closing this issue no, ok?

Thank you for your component!!!

[2018-12-18 15:16] #59 closed

[2018-12-19 03:10] yansenlei commented on #56
Hi @DominikSerafin
I tried again and found that it worked in Safari...
http://jsfiddle.net/leiys/agv130y4/11/

[2018-12-21 20:55] onufriievkyrylo opened #66 "[Feature] Import directive instead plugin"
I want to have a posibility to import derective itself to use it localy in component, instead of use it in vue globaly as a plugin.
[code]

[2018-12-22 04:45] jonagoldman commented on #66
Why you don't do this:

[code]

[2018-12-24 01:48] trandaison commented on #55
Hi @DominikSerafin,

This appear sometimes, and on some pc.
Suppose I can provide on jsfiddle, it doesn't make sure that this will happen on your browser 😂

[2018-12-24 03:59] DominikSerafin commented on #55
@trandaison minimal repro on jsfiddle would be awesome. On which OSes/browsers does it happen?

[2018-12-24 04:52] #56 closed

[2018-12-24 15:18] DominikSerafin commented on #66
@onufriievkyrylo I never used local directives but this looks like something I would want Vuebar to work with. I'll look into it for Vuebar 2.0.

[2019-01-02 14:13] QQ34205037 opened #67 "If the content area can be expanded and collapsed , the scrollbar does not refresh properly"
First of all, I am very sorry for my terrible English.
I found a problem when I tried to use vuebar, The same problem exists in Element-UI and Vuetify.
See the following example：
- element ui
https://jsfiddle.net/mgjzLy4w/15/
- vuetify
https://jsfiddle.net/mgjzLy4w/18/

1. Multiple clicks on collapsible elements，Observe the change of the scroll bar
2. Scroll or drag the scroll bar to observe its c

[2019-01-02 20:08] DominikSerafin commented on #67
Hi,

It happens because Vuebar doesn't pick up component change in some scenarios where 3rd party libraries/frameworks are used (especially when such components are not controlled by you via state).

You can manually refresh vuebar using `this.$vuebar.refreshScrollbar(elementReference, options)` or just by force updating the component containing vuebar `this.$forceUpdate`.

I did a very quick exam

[2019-01-02 20:08] #67 closed

[2019-01-03 02:59] QQ34205037 commented on #67
@DominikSerafin
This method works very well, It's enough to solve my problem.
Expect new features of Vuebar 2.x.
Thank you very much.

[2019-01-06 00:42] DominikSerafin opened #68 "(2.0/development) Native scrollbar width detector doesn't work on Firefox"

[2019-01-06 00:45] DominikSerafin opened #69 "(2.0/development) Use ResizeObserver to detect element size change"
As for compatibility
- Don't include polyfill in vuebar itself
- Add a note in documentation about this so people can polyfill that themselves

[2019-01-06 00:46] DominikSerafin commented on #68
https://github.com/DominikSerafin/vuebar/pull/45

[2019-01-18 03:20] harelnh opened #70 "is draggable scrollbar is supported at mobile?"
when at mobile mode i can't drag the scrollbar (even at your website). when i try to debug your code i see that all the different events attached to the elements (e.g. 'mousedown','scroll') are not firing up.

[2019-01-18 13:35] DominikSerafin commented on #70
Hi @harelnh could you tell me on what device, OS and browser you see this behavior?

[2019-01-23 14:17] s0By commented on #32
How's it going with release? February would be a really nice time to see new version released :+1:

[2019-01-24 18:01] Aaron-Pool opened #71 "scrollTop/scrollHeight rounding discrepancies breaks `preventParentScroll` when display scaling is set."
The issue here is pretty straight forward, on monitors that have any display scaling set (which I do, and I think it's pretty common, in the era of hdpi monitors), `scrollTop` can return a decimal value ([see here](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollTop)). `scrollHeight` and `clientHeight on the other hand, always round to an integer (see [here](https://developer.mozill

[2019-01-24 18:14] DominikSerafin commented on #32
Hi @s0By, I was a little more busy in my other work than I anticipated and didn't have time to finalize 2.0 release for Vuebar. But it's pretty close - you can check current status on the `development` branch.

[2019-01-24 18:24] DominikSerafin commented on #71
PR would be great @Aaron-Pool, thank you for reporting this

[2019-01-24 18:42] Aaron-Pool commented on #71
@DominikSerafin [There Ya Go](https://github.com/DominikSerafin/vuebar/pull/72)

[2019-01-30 21:41] alucidwolf opened #73 "Absolute positioned items within 'v-bar' are fixed and do not scroll"
I am building a website viewer and control bar, using this tool for the scrolling area of the website.

Some sites have absolute positioned navigation elements over a carousel, so the navigation does not scroll with the rest of the page, but instead acts as a fixed element.

I took one of your fiddles and modified it for a visual here:
http://jsfiddle.net/theBDank/c9ofytu5/4/

Have you or anyone e

[2019-01-31 17:11] DominikSerafin commented on #73
Hi @alucidwolf, I'm glad you like Vuebar =)

Your issue is probably related to Vuebar styling its first element using `position: relative`, which is needed for its functionality.

I quickly looked through your fiddle and I think it can be fixed by wrapping elements inside with another element also with `position: relative;` - http://jsfiddle.net/05t79be4/

[2019-01-31 17:11] #73 closed

[2019-01-31 17:12] kruchy8 commented on #52
Same here, please update docs with info about height property

[2019-02-21 16:32] williamabbott commented on #55
![image](https://user-images.githubusercontent.com/5918271/53185065-8de3e980-35fe-11e9-80ce-0d7d22fb656b.png)

MBP 12, latest stable chrome, touchpad scrolling

[2019-02-21 17:59] DominikSerafin commented on #55
Hey @williamabbott thanks for the image and info. GGather uses older version of Vuebar (0.0.18), didn't have yet chance to update. Have you seen this behavior with the newer versions of Vuebar?

[2019-02-21 18:04] williamabbott commented on #55
Oh ok, no I haven't even used it yet. This was the first hurdle.

Sent from mobile

On Thu, Feb 21, 2019 at 7:00 PM +0100, "Dominik Serafin" <notifications@github.com> wrote:

Hey @williamabbott thanks for the image and info. GGather uses older version of Vuebar (0.0.18), didn't have yet chance to update. Have you seen this behavior with the newer versions of Vuebar?

—
You are receiving this beca

[2019-02-21 18:11] DominikSerafin opened #74 "el undefined?"
https://github.com/DominikSerafin/vuebar/blob/development/vuebar.js#L175

[2019-02-22 09:22] jhlee8804 commented on #11
Please see my codes :)

https://github.com/jhlee8804/vuebar/tree/min-scrollbar-height

[2019-02-22 20:48] mateuszlewko commented on #11
@jhlee8804 It generally works quite ok, however bar doesn't move right away from the top, when it is small (long content, short view).

[2019-02-25 05:36] jhlee8804 commented on #11
@mateuszlewko Thanks your feedback. I fixed it :)
https://github.com/jhlee8804/vuebar/commit/f91bd0553009fc1fab28de9f35c480efeb871269#diff-b1c909ef74d81e1f32c801d0bb224ea5
https://github.com/jhlee8804/vuebar/commit/c3d0dfc57476075e010584785d7193594d493a21#diff-b1c909ef74d81e1f32c801d0bb224ea5

[2019-03-07 20:42] avilesasturias commented on #42
Hi,
It was probably asked many times, but whenever the element has padding on it, the browser scrollbar becomes visible?
Is this normal behaviour? [jsfiddle](http://jsfiddle.net/4uh7pzj3/)

[2019-03-25 13:51] s0updev commented on #55
Got the same problem but with a mouse in latest Chrome\Opera on MacOS, as the tester reported.
And the text inside the container was moved when the second scrollbar appeared.

Vuebar version is 0.0.20

It helped:
[code]

[2019-03-30 00:34] allmightdev opened #76 "Smooth scroll at mobile"
Hello _DominikSerafin_, ш have a problem with scrolling on mobile devices, it works, but I would like to know if it can be done with a little inertia

It works perfectly on your website, but I haven’t found any settings that could help me.  Would appreciate help

P.S.  example you can look at "https://thedosvid.com", if you turn on site at mobile, thanks a lot

[2019-03-30 06:05] scherii commented on #76
Hi @allmightdev
Could it be that by «inertia» you're talking about this proprietary feature?
https://developer.mozilla.org/en/docs/Web/CSS/-webkit-overflow-scrolling

[2019-04-05 06:24] trandaison commented on #11
Hi @DominikSerafin,
Any update about this feature?

[2019-04-05 10:07] DominikSerafin commented on #11
@trandaison the situation haven't changed from my last comment: https://github.com/DominikSerafin/vuebar/issues/11#issuecomment-378717591

[2019-04-18 12:28] dolbex commented on #52
lol - first, why don't you guys just edit the docs through a PR? Open Source needs everyone's help....

Second, none of the suggestions posted here worked for me but the following did:

[code]

[2019-04-18 12:54] DominikSerafin commented on #52
I know I don't have perfect history of merging Vuebar PRs, but mostly it's because I haven't written any tests yet, and I don't have time to test every PR manually. But when it comes to docs I shouldn't have this problem and I'll accept any PR more or less instantly.

PS. If someone wants to write some tests I'm open to it :P I could even provide BrowserStack account that I got for free on open-so

[2019-04-19 07:36] riyaz51 opened #79 "How to use it in v-data-table?"

[2019-04-26 12:57] #79 closed

[2019-05-08 14:58] Kenvdb commented on #64
@DominikSerafin I'm trying to change the default class name, but it looks like it ain't working?

`Vue.use(Vuebar, {
    defaults: {
        el1Class: 'foo'
    }
});`

[2019-05-16 08:17] alorenc commented on #11
The @jhlee8804 solution has a slight error.

When the bar is dragged from top to bottom and vice versa. Then the scrollTop property has the wrong height. Because there is no reset condition in the computeScrollTop() function.

[code]

It works for me, I tested on content from 1.500px to 60.000px

[2019-05-17 21:15] thiagobrandam commented on #55
Hi @DominikSerafin I was able to come up with a minimal repro ... here's the fiddle: https://jsfiddle.net/thiagobrandam/tfhnygcj/26/

It seems that a position: relative in child elements cause chrome and possibly other browsers to add a scrollbar. I still don't understand why though but will take a look and maybe come up with a fix. Just posting in case you might know right away the problem ...

[2019-06-05 08:08] alorenc opened #80 "Appearing browser bar in IE11 after shown tooltip"
Hi,

I have a problem with the Bootstrap Tooltip components, only in IE11.
After displaying the "tooltip" on any item of the scrolling object. The browser slider briefly appears, and then the vuabar script will correct it. Unfortunately, it does not look very nice.

![vuebar_ie11_tooltip](https://user-images.githubusercontent.com/22193695/58940211-36b2f080-8779-11e9-943c-70d01403fcd6.gif)

How to

[2019-06-06 13:28] LegenD1995 commented on #5
Hi @DominikSerafin

Does vuebar work in Vue CLI3.0.7?or just in vue 2?

[2019-06-09 00:53] Tech-Nomad opened #81 "vb-content with display:flex?"
Hi,
thank you for this great library!
Though one problem I have encountered using it in my project is that it doesn't work with .vb-content set to display:flex - you get the usual scrollbar to see.
(I need the flexbox functionality for stretching the container content to the height of the window if the summed height of the elements is less than the window height -  flexbox sets perfectly the right

[2019-06-09 00:58] Tech-Nomad commented on #81
Here is one screenshot with display: flex
![Screenshot 2019-06-09 at 02 57 17](https://user-images.githubusercontent.com/18289087/59153758-7a9c4300-8a62-11e9-9ebe-9606c190edad.png)

[2019-06-09 00:59] Tech-Nomad commented on #81
And here with display: block
![Screenshot 2019-06-09 at 02 56 33](https://user-images.githubusercontent.com/18289087/59153764-999ad500-8a62-11e9-9bea-863bc4e52da5.png)

[2019-06-09 01:17] Tech-Nomad commented on #81
Sorry, I was wrong. It does actually show the Vuebar and the original one is hidden. But the container isn't scrollable even you drag the scrollbar manually.

[2019-06-09 01:18] Tech-Nomad commented on #81
![Screenshot 2019-06-09 at 03 15 22](https://user-images.githubusercontent.com/18289087/59153878-2cd50a00-8a65-11e9-85af-67215389b8f5.png)

[2019-07-17 20:56] garyo opened #82 "Typescript types?"
Has anyone created a typescript type declaration file for Vuebar? I'm using Typescript and can't import Vuebar without ts errors.

[2019-08-30 13:38] DominikSerafin commented on #32
This comment is still the best description of the Vuebar current status - https://github.com/DominikSerafin/vuebar/issues/32#issuecomment-335397606

[2019-08-30 13:39] #76 closed

[2019-08-30 13:44] DominikSerafin commented on #80
It seems like overflow issue with container other than Vuebar. My guess is that tooltip component goes outside of that container bounds for a short amount of time. So it looks like this issue is unrelated to the Vuebar itself.

For now I'm closing this. If it's indeed problem with Vuebar - please provide minimal reproduction and I'll reopen it. Thanks!

[2019-08-30 13:44] #80 closed

[2019-08-30 13:47] DominikSerafin commented on #81
For now, I'm going to close this as this seems like issue unrelated to intended behavior of Vuebar.

I could look into it but I'll need a minimal reproduction first. Feel free to reopen with that provided. Thanks!

[2019-08-30 13:47] #81 closed

[2019-08-30 13:51] DominikSerafin commented on #82
I don't have yet enough experience with Typescript to integrate it with Vuebar, so for now it's out of scope. I've however added it to project backlog and I might get around that in future. For now I'm going to close this issue.

[2019-08-30 13:51] #82 closed

[2019-08-30 14:05] DominikSerafin opened #84 "State of PRs"
Just wanted to leave quick note about the state of Vuebar pull requests.

Vuebar doesn't have any automated testing implemented. It needs unit, integration and visual testing.

And going through pull requests and testing all of them manually is extremely time consuming. Due to the nature of Vuebar I need to go through multiple devices, browsers & customization options during manual testing.

And t

[2019-08-31 14:09] hyvyys opened #85 "Initialization delay on popover"
https://recordit.co/B50NftLOfI

[2019-09-27 09:01] mediagraphik opened #86 "Using vuebar for a horizontal scrollbar"
Hello,

is it possible to use vuebar for a horizontal scrollbar?
Would be really helpful for tables in Mobile.
Otherwise, it would be great if that feature is integrated into a future version.

[2019-09-27 14:04] DominikSerafin commented on #86
While not yet finished (almost), you can try to use the development version of Vuebar which supports horizonstal scrollbar: https://github.com/DominikSerafin/vuebar/tree/development

Lots of demos in docs/demotests.html

---

Closing this as it's duplicate of https://github.com/DominikSerafin/vuebar/issues/27

[2019-09-27 14:04] #86 closed

[2019-09-27 14:07] DominikSerafin commented on #85
It seems like issue with improper Vue state usage - I will need minimal repro to be able to help.

[2019-09-27 14:07] #85 closed

[2019-11-05 07:14] demonze opened #87 "Whether the scrollbar can be set to the min-height?"
When there is too much data, the scroll bar has only a small point and looks very unattractive.

[2019-11-05 07:52] DominikSerafin commented on #87
@demonze already implemented in the development branch (but yet to be released)

[2019-11-05 07:52] #87 closed

[2019-12-04 12:50] Dev1lDragon opened #88 "Add support to max-height, max-width, min-height and min-width"
in function `initScrollbar` add:

[code]
and in `destroyScrollbar` add:
[code]

[2019-12-04 14:17] DominikSerafin commented on #88
Related: https://github.com/DominikSerafin/vuebar/issues/52

[2020-03-23 01:31] Craytor opened #89 "Horizontal Scrolling"
Has there been any progress on horizontal scrolling?

[2020-04-01 09:59] DominikSerafin commented on #89
Duplicate of #27

[2020-04-01 09:59] #89 closed

[2020-04-01 10:01] DominikSerafin commented on #27
Horizontal scrollbars - while not yet fully finished, you can try to use the development version of Vuebar which supports them: https://github.com/DominikSerafin/vuebar/tree/development (lots of demos in docs/demotests.html)

[2020-04-01 10:41] v2pwww opened #90 "observe attributes"
add to observe https://github.com/DominikSerafin/vuebar/blob/master/vuebar.js#L469 `attributes: true` for fully observation dom changes

[2020-04-01 21:11] Verovig opened #91 "Scroll with a table with scroll inside problem"
I have a div with Vuebar and inside have a lot of elements, one of them is a table with his own scroll...
I am inside the table and I scroll it down with the mouse and keep it at the middle of the table, then I scroll the container down, and back to the top, go inside the table again and try to scroll up with the mouse, and it doesn't work. I can scroll down again but the scroll top is stuck. If I